extends layout

block content
  div.container__header
    h1 #{title}
    p #{subtitle}
  div.container__body
    dl.row.post
      each post in feed
        dt.col-sm-8.h5 
          a(href='http://www.google.com', target='_blank')
            | #{post.story_title} 
          span.post-author - #{post.author}
        dt.col-sm-3.prettyDate #{post.created_at}
        dt.col-sm-1 
          img.image(src='/images/baseline-delete_forever-24px.svg' )

