extends layout

block content
  div.container__header
    h1 #{title}
    p #{subtitle}
  div.container__body
    dl.row.post
      each post in feed
        if post && (post.story_url || post.url) && (post.story_title || post.title)
          dt.col-sm-8.h5.post-title
            a.post-url(href=post.story_url || post.url, target='_blank')
              | #{post.story_title || post.title} 
            span.post-author - #{post.author}
          dt.col-sm-3.post-time.prettyDate #{post.created_at}
          dt.col-sm-1 
            img.btnDelete(src='/images/baseline-delete_forever-24px.svg')
